/* Sticky footer styles
-------------------------------------------------- */
html {
  background-color: #FFF !important;
  height: 100%;
  width: 100%;
}
.footer {
  margin-top: 25px;
  width: 100%;
  height: 60px;
  background-color: #FFF;
}

.old-projects-btn {
  margin: 10px;
}

.datepickerdemoBasicUsage md-content {
    padding-bottom: 200px; }

.btn-primary {
  color: #fff !important;
}

a.list-group-item {
  color: #555 !important;
}


.ui-select-bootstrap .ui-select-choices-row.active a {
  color: #FFF !important;
}

a {
  color: #337ab7 !important;
}

table th {
  text-align: center;
}

table td a {
  color: #fff !important;
}

.disclude-projects-filter {
  margin-top: 4px;
}

.disclude-projects-filter-title {
  margin-left: 17px;
}

.disclude-projects-filter-select {
  height: 32px;
}

md-content { 
    overflow: visible;
}



