<div class="col-md-6 col-md-offset-3">
<h2>Welcome to your dashboard!</h2>
<h3>Start working</h3>
	<div class="form-group">
		<label>Select a project:</label>
		<select class="form-control" ng-model="selectedProject">
			<option ng-if="project.statusId.name !== 'Done'" ng-repeat="project in 	allProjects" value="{{ project._id }}">{{ project.name }}</option>
		</select>
	</div>
	<div class="form-inline">
		<div class="form-group">
			<label>Big visit?</label>
			<input type="checkbox" ng-model="bigVisit" />
		</div>
		<div class="form-group">
			<label>Machine time:</label>
			<input type="text" ng-model="machineTime" />
		</div>
		<div class="form-group">
			<button class="btn btn-primary form-control" ng-click="startTask()">Start Task</button>
		</div>
	</div>

	<h3>Current Task</h3>
	<ul ng-if="usersTasks.lenght !== 0" class="list-group" ng-repeat="task in usersTasks">
		<div ng-if="task.endedAt === null" class="list-group-item">
			<h4 class="list-group-item-heading">{{ task.projectId.name }}</h4>
			<p class="list-group-item-text">
				<b>Started: </b>{{ task.createdAt | date: "dd-MM-yyyy HH:mm" }}
				<b>Big visit? </b>
				<input ng-disabled="true" ng-if="!task.bigVisit" type="checkbox" />
				<input ng-disabled="true" ng-if="task.bigVisit" type="checkbox" checked />
			</p>
			<p class="list-group-item-text">
				<button ng-click="endTask(task)" class="btn btn-warning">End Task </button>
				<label>Dirty Work: </label>
				<input size="4" type="text" ng-model="dirtyWork.value" />
			</p>
		</div>
	</ul>

	<h3>Past Tasks</h3>
	<div ng-if="usersTasks.lenght === 0" class="alert alert-info">You have never worked.</div>
	<ul ng-if="usersTasks.lenght !== 0" class="list-group" dir-paginate="task in usersTasks | orderBy: 'createdAt':true | itemsPerPage: 3">
		<a ng-if="task.endedAt !== null" href="#/tasks/{{ task._id }}" class="list-group-item">
			<h4 class="list-group-item-heading">{{ task.projectId.name }}</h4>
			<p class="list-group-item-text">
				<b>Started: </b>{{ task.createdAt | date: "dd-MM-yyyy HH:mm" }}
				<b>Ended: </b>{{ task.endedAt | date: "dd-MM-yyyy HH:mm" }}
			</p>
			<p class="list-group-item-text">
				<b>Big visit? </b>
				<input ng-disabled="true" ng-if="!task.bigVisit" type="checkbox" />
				<input ng-disabled="true" ng-if="task.bigVisit" type="checkbox" checked />
				<span ng-if="task.machineTime === 0"><b>Hours: </b>{{ task.hours | number: 1 }}h</span>
				<span ng-if="task.machineTime !== 0"><b>Machine time: </b>{{ task.machineTime | number: 1 }}h</span>
				<span ng-if="task.dirtyWork !== 0"><b>Dirty work: </b>{{ task.dirtyWork | number: 1 }}h</span>
			</p>
		</a>
	</ul>
	<dir-pagination-controls></dir-pagination-controls>
</div>