	<header>
		<nav class="navbar navbar-default">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="#/dashboard">MuottiNet 3.0<span ng-if="token.isAuthenticated()"> - {{ 'USER' | translate}}: {{ token.getUsername() }}</span></a>
				</div>

				<ul ng-if="token.isAuthenticated()" class="nav navbar-nav navbar-right">
					<li><a href="#/dashboard">{{ 'HOME' | translate}}</a></li>
					<li ng-if="token.isAdmin() || token.isPm()"><a href="#/projects">{{ 'PROJECTS_TITLE' | translate}}</a></li>
					<li ng-if="token.isAdmin()"><a href="#/tasks">{{ 'TASKS_TITLE' | translate}}</a></li>
					<li ng-if="token.isAdmin()"><a href="#/users">{{ 'USERS_TITLE' | translate}}</a></li>
					<li ng-if="token.isAdmin() || token.isPm()"><a href="#/customers">{{ 'CUSTOMERS_TITLE' | translate}}</a></li>
					<li ng-if="token.isAdmin()"><a href="#/settings">{{ 'SETTINGS_TITLE' | translate}}</a></li>
					<li><a href="#/auth/logout">{{ 'LOGOUT' | translate }}</a></li>
				</ul>
				<ul ng-if="!token.isAuthenticated()" class="nav navbar-nav navbar-right">
					<li><a href="#/auth/login">{{ 'LOGIN' | translate }}</li>
				</ul>
			</div>
		</nav>
	</header>