<div class="col-md-6 col-md-offset-3">
	<div class="alert alert-danger" ng-if="usercreationerror !== ''">{{ usercreationerror }}</div>
	<h3>{{ 'NEW_USER_TITLE' | translate }}</h3>
	<div class="form-group">
		<label>{{ 'USERNAME' | translate }}:</label>
		<input class="form-control" type="text" ng-model="username" />
		<div class="alert alert-warning" ng-show="username.length < 5 && username !== ''">{{ 'USERNAME_HAS_TO_HAVE_MORE_THAN_5_LETTERS' | translate }}</div>
	</div>
	<div class="form-group">
		<label>{{ 'PASSWORD' | translate }}:</label>
		<input class="form-control" type="password" ng-model="password" />
	</div>
	<div class="form-group">
		<label>{{ 'REPEAT_PASSWORD' | translate }}:</label>
		<input class="form-control" type="password" ng-model="repeat" />
		<div class="alert alert-warning" ng-show="password !== repeat">{{ 'PASSWORD_DOES_NOT_MACH' | translate }}</div>
	</div>
	<div class="form-group">
		<label>{{ 'IS_ADMIN' | translate }}</label>
		<input type="checkbox" ng-model="admin" />
	</div>
	<div class="form-group">
		<label>{{ 'IS_PM' | translate }}</label>
		<input type="checkbox" ng-model="pm" />
	</div>
	<div class="form-group">
		<input type="button" value="{{ 'CREATE_USER' | translate }}" ng-click="createNewUser()" ng-disabled="repeat !== password || password === '' || username.length < 5" class="btn btn-primary" />
	</div>